.homecontainer{
    padding:10px;
    background-image: linear-gradient(45deg, blue,#00ffad);
}
.rooms{
  display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;
  color:black;

}
.room{
    padding:10px;
    color: black;
}
.room-title{
  color: black;
  text-transform: uppercase;
}
  .cards .card-item {
    background: white;
    margin:10px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hiddansform 0.5s;
    -webkit-transition: transform 0.5s;

    color: black;
    width:45%;
    justify-content: center;
    align-items: center;
  }

  .cards .card-item:active {
    cursor: pointer;
    -webkit-transform: scale(0.8);
    transition-duration: 0.2s;
  }
  .cards .card-item:hover .card-image {
    opacity: 1;
  }
  .cards .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
  }
  .cards .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.2em;
  }
  .cards .card-image {
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;
  }
.leaderboard{
  background: #ffffff;
  margin:5px;
  padding:5px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
}
.leaderboard-item{
  padding:10px;
  transition-duration: 0.2s;
  border-bottom: 1px solid #dedede;
}
.leaderboard-item:hover{
  background-color: #dedede;
}
.leaderboard-item:active{
  transform: scale(0.9);
}